.home{
 min-height: 100vh;
 background: var(--bg-secondary); 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
}

.card{
    height: 500px;
    width: 500px;
    background-color: blue;
}

.header_middle_wrap{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    /* margin-top: 8vh; */
}

.home_middle{
    margin-top: 75px;
    margin-left: 31vw;
}