.input_error{
    position: relative;
    padding: 15px 10px;
    background: #b94a48;
    width: 100%;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.error_arrow_top{
    border: 10px solid transparent;
    border-top: 10px solid #b94a48;
    position: absolute;
    bottom: -18px;
}

.error_arrow_bottom{
    border: 10px solid transparent;
    border-bottom: 10px solid #b94a48;
    position: absolute;
    top: -18px;
}

.error_arrow_left{
    border: 10px solid transparent;
    border-left: 10px solid #b94a48;
    position: absolute;
    right: -18px;
    top: 15px;
}

.error_arrow_right{
    border: 10px solid transparent;
    border-right: 10px solid #b94a48;
    position: absolute;
    left: -18px;
    top: 15px;  
}


.input_error_desktop{
    position: absolute;
    width: 300px;
    left: -19.5rem;
    top: 2px;
}

.input_error_desktop_right{
    position: absolute;
    width: 300px;
    right: -19.5rem;
    top: 2px;
}