.wrapper{
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.385);
    pointer-events: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper  *{
    z-index: 99;
}
