.primary{
    background: var(--blue-color);
    padding: 15px 15px;
    width: 100%;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 550;
}

.primary:hover{
    filter: invert(3%)
}